@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=), none;
    user-select: none;
}

#div-1 {
}

#div-2 {
}

#div-3 {
}

#weatherDiv {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#currentWeatherDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.txtCurrentWeather {
    font-size: 2em;
}

#divCurrentWeatherDesc {
    padding-left: 10px;
    padding-right: 40px;
}

.txtCurrentWeatherDesc {
    margin-top: -35px;
}

#divCurrentWeatherStats {
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    margin-top: 35px;
    margin-bottom: 20px;
}

.divCurrentWeatherRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divWeatherTodayElement {
    margin-top: -20px;
    margin-right: 60px;
    margin-left: 60px;
    height: 90px;
    width: 60px;

}

.weatherTodayStats {
    font-size: 1.8em;
    text-align: center;
}

.weatherTodayDesc {
    text-align: center;
    margin-top: -20px;
    font-size: 0.8em;
    padding-right: 5px;

}

.weatherTodayDesc :nth-child(4) {
    padding-right: 0px;
}


#divCurrentTime {
    font-size: 3em;
    padding: 30px 80px;
}

#divForecast{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.divForecastElement{
    text-align: center;
    border: 2px solid #5f5f5f;
    border-radius: 0.5em;
    margin-left: 22px;
}

.forecastDate{
    font-size: 0.8em;
    color: #979797;
    margin-bottom: 10px;
    margin-top: 5px;
}

.forecastDayTemp {
    margin-top: -10px;
    color: #979797;
    font-size: 0.7em;
}

.forecastDayImg{
    padding-bottom: 5px;
    margin-top: -10px;
    width: 50%;
}

